 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    
}

/* NAVBAR  */
#navbar {
    background-color: #9FC5F8;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: .75rem 4rem;
}

#cities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    list-style: none;
    font-size: 1.3rem;
}


/* BODY  */
#body {
    padding: 1rem 4rem;
}


/* CITY  */
#city {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 1em;
}

#city > h2 {
    font-size: 2rem;
    font-weight: 500;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    font-weight: 500;
}

label > select {
    height: 2rem;
    border: 2px solid black;
    font-weight: bold;
}


/* WEATHER FORCAST  */
#weather {
    display: flex;
    justify-content: center;
    gap: 1.3em;
    margin-bottom: 1.3em;
}

.day {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 1.5em;
}

.day > h3 {
    font-size: 2em;
    font-weight: lighter;
}

.day img {
    height: 9em;
    border-radius: 50%;
}

.day > p {
    font-size: 1.2em;
}

#temp {
    display: flex;
    justify-content: space-between;
    width: 6em;
    font-size: 1.4em;
}

.hot {
    color: #D3504E;
}

.cold {
    color: #2B78E4;
}


/* COOKIE BOX  */
#cookie-box {
    border: 3px solid black;
    background-color: #EEEEEE;
    margin: 0 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

#cookie-box > img {
    height: 4em;
    width: 4em;
}

#cookie-box > div {
    font-size: 1.2em;
}

#cookie-box > button {
    background-color: #9FC5F8;
    height: 2em;
    width: 10em;
    font-size: 1em;
    box-shadow: 3px 3px 1px black;
}